<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Evernote Planner</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<h1> Welcome to your Evernote Planner! </h1><!-- 
		<img src="/images/hotcocoa.jpg" alt="christmas background with lights" class="form" style="width:304px;height:228px;"> -->
		<h3><%= date%> Notes</h3> 
		<form method="post" action="/event" class="planner-notes" style="position: relative">
			<input type="hidden" name="date" value="<%=date%>" />
			<p>
				<label for="start">Start Time:</label>
				<input type="text" id="start" name="start" placeholder="0000 (military time)"/>
			</p><p>
				<label for="end">End Time:</label>
				<input type="text" id="end" name="end" placeholder="0000 (military time)"/>
			</p><p>
				<label for="title">Title:</label>
				<input type="text" id="title" name="title" placeholder="Event Name"/>
			</p><p>
				<label for="description">Description</label>
				<input type="text" id="description" name="description" placeholder="Description"/>
			</p>
			<p><input type="submit" value="Add" name="submit" id="submit"/></p>
		</form>
		<div class="col-sm-6">
        
        </div>
        <div class="format">
        	<% for(var i = 0; i < events.length; i++){ %>
				<div class="event">
					<h3><a href='/agenda/today/<%=events[i].title%>'><%=events[i].title%></a></h3>
					<h4><%=events[i].start%> - <%=events[i].end%></h4>
					<p><%=events[i].description%></p>
				</div>
        	<% } %>
		</div>
	<div class="current-notebooks"></div>
	<div class="search-notebooks"></div>
	<div class="background-credit"><a href='http://www.freepik.com/free-vector/christmas-background-design_995420.htm'></a></div>
	<div class="all-notebooks">

</body>
</html>