<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Evernote Planner</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="styles.css" rel="stylesheet" media="all and (max-width: 1024px)">

</head>
<body>
	<div class="h1h3">
		<h1> Welcome to your Evernote Planner! </h1>
			<h3 class="date-title">Today is: <%= date %></h3> 
	</div>	
			<div class="container">
				<form method="post" action="/event" class="planner-notes">
					<input type="hidden" name="date" value="<%=date%>" />
					<p>
				<!-- <img src="/images/hotcocoa.jpg" alt="christmas background with lights" style="width:304px;height:228px;"> -->
						<label for="start">Start Time:</label>
						<input type="text" id="start" class="time" name="start" placeholder="0000 (military time)"/>
					</p><p>
						<label for="end">End Time:</label>
						<input type="text" id="end" class="time" name="end" placeholder="0000 (military time)"/>
					</p><p>
						<label for="title">Title:</label>
						<input type="text" id="title" class="event-title" name="title" placeholder="Event Name"/>
					</p><p>
						<label for="description">Description</label>
						<input type="text" id="description" class="event-description" name="description" placeholder="Description"/>
					</p>
					<p><input type="submit" value="Add" class="event-add" name="submit" id="submit"/></p>
				</form>
			<!-- 	<div class="col-sm-6">
		        
		        </div> -->
		        <div class="format">
		        	<% for(var i = 0; i < events.length; i++){ %>
						<div class="event">
							<h4 class="editable-time"><a href='/agenda/today/<%=events[i].start%> - <%events[i].end%>'><%=events[i].start%> - <%=events[i].end%></a></h4>
							<h3><%=events[i].title%></h3>
							<p><%=events[i].description%></p>
						</div>
		        	<% } %>
				</div>
			</div>
		<ul class="pagination">
		  <li><a href="#">«</a></li>
		  <li><a href="#">Yesterday</a></li>
		  <li><a class="active" href="#"><%= date %></a></li>
		  <li><a href="#">Tomorrow</a></li>
		  <li><a href="#">»</a></li>
		</ul>
</ul>	

</body>
</html>